src/main/resources/xsd/buttonKeyboard.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="button-keyboard">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="button-link" maxOccurs="3" minOccurs="0">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="payload"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="controller"/>
        </xs:complexType>
    </xs:element>
</xs:schema>