src/main/resources/xsd/genericKeyboard.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="generic-keyboard">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="generic-db-item">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="generic-button" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="payload" use="optional"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="entity"/>
                        <xs:attribute type="xs:byte" name="maxItemsOnPage"/>
                        <xs:attribute type="xs:string" name="itemResponseMethod"/>
                        <xs:attribute type="xs:string" name="repository"/>
                        <xs:attribute type="xs:string" name="repoMethod"/>
                        <xs:attribute type="xs:string" name="methodForTitle"/>
                        <xs:attribute type="xs:string" name="methodForSubtitle"/>
                        <xs:attribute type="xs:string" name="methodForImage"/>
                        <xs:attribute type="xs:string" name="methodForPayload"/>
                        <xs:attribute type="xs:string" name="imageEntity"/>
                        <xs:attribute type="xs:string" name="methodForUrlImage"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="generic-quick-reply">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="quick-reply-button" maxOccurs="unbounded" minOccurs="0">
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute type="xs:string" name="payload" use="optional"/>
                                            <xs:attribute type="xs:boolean" name="pageable" default="true"/>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="controller"/>
        </xs:complexType>
    </xs:element>
</xs:schema>